table, tr, td{
	padding: 0;
	margin: 0;
	border-collapse: collapse;
}

td{
	width: 20px;
	height: 20px;
}

.b1{
	background: #6f6c81;
}

.b2{
	background: #c64a30;
}
.b3{
	background: #874640;
}
.b4{
	background: #302128;
}
.b5{
	background: #5d6a8c;
}
.b6{
	background: #aa373e;
}
.b7{
	background: #d0a352;
}
.b8{
	background: #a3a194;
}
.b9{
	background: #7e6755;
}
.b10{
	background: #4e6e45;
}
.b11{
	background: #6a7a3b;
}
.b12{
	background: #cf424a;
}
